<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant-list</title>
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/stylesheet.css">
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-warning bg-opacity-10 mb-2">
      <div class="d-flex justify-content-between container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        <a href="/new">
          <button type="button" class="btn btn-major">
            新增餐廳
          </button>
        </a>
      </div>
    </nav>
    <div class="banner mb-3"></div>

  </header>
  {{{body}}}
  <script src="/javascripts/bootstrap.bundle.js"></script>
  <script src="https://kit.fontawesome.com/382f2771a0.js" crossorigin="anonymous"></script>
</body>

</html>